python-telegram-bot[webhooks]
python-dotenv
requests
aiohttp
flask
gunicorn
groq
httpx
pillow
tavily-python
loguru
validators
beautifulsoup4
lxml
aiohttp
beautifulsoup4
flask
groq
gunicorn
httpx
loguru
lxml
pillow
python-dotenv
python-telegram-bot[webhooks]
requests
tavily-python
telegram
validators
